@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
  cursor: url('../assets/swordIcon.png') 0 0, auto !important;
}

body {
    font-family: 'Pirata One', cursive;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

body.fade-out {
    opacity: 0;
    transition: opacity 0.75s ease-out;
}
  
  .intro-container {
    position:relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/intro-bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    animation: zoomDezoom 30s ease-in-out infinite;
  }
  
  video.background-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    display: none;
}

/* Texte Apuyez pour ... */
.intro-text {
    position: absolute;
    bottom: 70px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-shadow:
        -1px -1px 0 rgb(0, 0, 0),
        1px -1px 0 rgb(0, 0, 0),
        -1px 1px 0 rgb(0, 0, 0),
        1px 1px 0 rgb(0, 0, 0);
    animation: pulse 1.5s infinite;
    z-index: 2;
    pointer-events: none;
}

/* Animation zoomDezoom */
@keyframes zoomDezoom {
    0% { 
      transform: scale(1.05); 
    }
    50% { 
      transform: scale(1);
    }
    100% { 
      transform: scale(1.05); 
    }
}

/* Logo du jeu */
#intro-logo {
  position: fixed;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  z-index: 2;
  animation: fadeInLogo 2s ease-out forwards,glowPulse 3s ease-in-out infinite;
  opacity: 0;
  pointer-events: none;
}

/* Apparition douce du logo */
@keyframes fadeInLogo {
  0% {
      opacity: 0;
      transform: translateX(-50%) scale(0.9);
  }
  100% {
      opacity: 1;
      transform: translateX(-50%) scale(1);
  }
}

/* Ombre qui change de couleur autour du titre*/
@keyframes glowPulse {
  0% {
      filter: drop-shadow(0 0 10px rgba(0, 150, 255, 0.4))
              drop-shadow(0 0 20px rgba(0, 150, 255, 0.4));
  }
  50% {
      filter: drop-shadow(0 0 20px rgba(8, 8, 8, 0.9))
              drop-shadow(0 0 30px rgba(25, 25, 26, 0.6));
  }
  100% {
      filter: drop-shadow(0 0 10px rgba(0, 150, 255, 0.4))
              drop-shadow(0 0 20px rgba(0, 150, 255, 0.4));
  }
}

